In [1]:
import pandas as pd

In [5]:
dados = pd.read_json('./produtos.json')
df = pd.DataFrame(dados)
df

   id               nome categoria   preco  estoque       fornecedor
0   1     Filtro de Óleo     Motor   35.50       20  AutoPartes LTDA
1   2        Pneu Aro 16     Rodas  450.00       15      Pneus e Cia
2   3       Bateria 60Ah  Elétrica  520.90        8        EletrAuto
3   4  Pastilha de Freio    Freios  120.75       25      FreioSeguro
4   5   Velas de Ignição     Motor   75.00       30  AutoPartes LTDA

In [6]:
json_obj = {
    'ID': '01',
    'Faixa_etaria': '55-59',
    'Sexo_biologico': 'Feminino',
    'Saude': {'Dificuldade_caminhar': 'Nao',
              'Atividade_fisica': 'Sim',
              'IMC': 16.6,
              'Doenca_cardiaca': 'Nao',
          }
      }

In [19]:
pd.json_normalize(json_obj)

,ID,Faixa_etaria,Sexo_biologico,Saude.Dificuldade_caminhar,Saude.Atividade_fisica,Saude.IMC,Saude.Doenca_cardiaca
0,01,55-59,Feminino,Nao,Sim,16.6,Nao

In [22]:
json_list = [
    {
        'ID': '01',
        'Faixa_etaria': '55-59',
        'Sexo_biologico': 'Feminino',
        'Saude': {'Dificuldade_caminhar': 'Nao',
                  'Atividade_fisica': 'Sim',
                  'IMC': 16.6,
                  'Doenca_cardiaca': 'Nao',
              }
      },
      {
        'ID': '02',
        'Faixa_etaria': '80 ou +',
        'Sexo_biologico': 'Feminino',
        'Saude': {'Dificuldade_caminhar': 'Nao',
                  'Atividade_fisica': 'Sim',
                  'IMC': 20.34,
                  'Doenca_cardiaca': 'Sim'
                }
       }
       ]

In [23]:
pd.json_normalize(json_list)

,ID,Faixa_etaria,Sexo_biologico,Saude.Dificuldade_caminhar,Saude.Atividade_fisica,Saude.IMC,Saude.Doenca_cardiaca
0,01,55-59,Feminino,Nao,Sim,16.60,Nao
1,02,80 ou +,Feminino,Nao,Sim,20.34,Sim

In [24]:
dados_dict = {
  "Pesquisa": "Principais Indicadores de Doenca Cardiaca",
  "Ano": 2020,
  "Pacientes": [
    {
      "ID": "01",
      "Faixa_etaria": "55-59",
      "Sexo_biologico": "Feminino",
      "Raça": "Branca",
      "IMC": 16.6,
      "Fumante": "Sim",
      "Consumo_alcool": "Nao",
      "Saude_fisica": 3,
      "Saude_mental": 30,
      "Dificuldade_caminhar": "Nao",
      "Atividade_fisica": "Sim",
      "Saude_geral": "Muito boa",
      "Horas_sono": 5,
      "Problemas_saude": [
        "Diabetes",
        "Asma",
        "Cancer_pele"
      ]
    },
    {
      "ID": "02",
      "Faixa_etaria": "80 ou +",
      "Sexo_biologico": "Feminino",
      "Raça": "Branca",
      "IMC": 20.34,
      "Fumante": "Nao",
      "Consumo_alcool": "Nao",
      "Saude_fisica": 0,
      "Saude_mental": 0,
      "Dificuldade_caminhar": "Nao",
      "Atividade_fisica": "Sim",
      "Saude_geral": "Muito boa",
      "Horas_sono": 7,
      "Problemas_saude": [
        "AVC"
      ]
    },
    {
      "ID": "03",
      "Faixa_etaria": "65-69",
      "Sexo_biologico": "Masculino",
      "Raça": "Branca",
      "IMC": 26.58,
      "Fumante": "Sim",
      "Consumo_alcool": "Nao",
      "Saude_fisica": 20,
      "Saude_mental": 30,
      "Dificuldade_caminhar": "Nao",
      "Atividade_fisica": "Sim",
      "Saude_geral": "Muito boa",
      "Horas_sono": 8,
      "Problemas_saude": [
        "diabetes",
        "Asma"
      ]
    }
  ]
}

In [29]:
pd.json_normalize(dados_dict)

,Pesquisa,Ano,Pacientes
0,Principais Indicadores de Doenca Cardiaca,2020,"[{'ID': '01', 'Faixa_etaria': '55-59', 'Sexo_b..."

In [31]:
dados_pacientes = pd.json_normalize(dados_dict['Pacientes'])
dados_pacientes

,ID,Faixa_etaria,Sexo_biologico,Raça,IMC,Fumante,Consumo_alcool,Saude_fisica,Saude_mental,Dificuldade_caminhar,Atividade_fisica,Saude_geral,Horas_sono,Problemas_saude
0,01,55-59,Feminino,Branca,16.60,Sim,Nao,3,30,Nao,Sim,Muito boa,5,"[Diabetes, Asma, Cancer_pele]"
1,02,80 ou +,Feminino,Branca,20.34,Nao,Nao,0,0,Nao,Sim,Muito boa,7,[AVC]
2,03,65-69,Masculino,Branca,26.58,Sim,Nao,20,30,Nao,Sim,Muito boa,8,"[diabetes, Asma]"

In [32]:
dados_pacientes.to_csv('dados_pacientes.csv')

In [33]:
dados_pacientes.to_json('dados_pacientes.json')