In [13]:
import pandas as pd

In [15]:
dados_html = pd.read_html('../dados/dados_filmes.html')

In [16]:
type(dados_html)

list

In [17]:
len(dados_html)

2

In [18]:
df_table = dados_html[1]
df_table.head(10)

,Film,Release year,Director,Production companies,1998 Rank,2007 Rank
0,Citizen Kane,1941,Orson Welles,RKO Radio Pictures,1,1
1,Casablanca,1942,Michael Curtiz,Warner Bros. Pictures,2,3
2,The Godfather,1972,Francis Ford Coppola,"Paramount Pictures, Alfran Productions",3,2
3,Gone with the Wind,1939,Victor Fleming,Selznick International Pictures,4,6
4,Lawrence of Arabia,1962,David Lean,Horizon Pictures,5,7
5,The Wizard of Oz,1939,Victor Fleming,Metro-Goldwyn-Mayer,6,10
6,The Graduate,1967,Mike Nichols,Lawrence Turman,7,17
7,On the Waterfront,1954,Elia Kazan,Horizon-American Pictures,8,19
8,Schindler's List,1993,Steven Spielberg,Amblin Entertainment,9,8
9,Singin' in the Rain,1952,"Gene Kelly, Stanley Donen",Metro-Goldwyn-Mayer,10,5

In [19]:
df_table.to_html('../dados/top_filmes.html')